/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
    margin: auto;
    max-width: 100em; 
    max-height: 100em; 
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #051f22;
    background-image: url('https://images.unsplash.com/photo-1603484477859-abe6a73f9366?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

h1, h2 {
    text-align: center;
}

h1 {
    color: #ce6325;
    font-size: 2em;
    margin-top: 1em;
    padding-top: 1em;
}

h2 {
    color: #4a4d3c;
    font-size: 1.5em;
}

header {
    background-color: #263d36;
    background-image: url('https://images.unsplash.com/photo-1602722053020-af31042989d5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #2c518a;
    line-height: 1.2;
    padding: 10vw 2em;
    width: 100%; 
    height: 200px;
}

.container {
    background-color: #b0e2d3;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    text-align: center;
}

.book-box {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.author {
    color: #555;
    font-style: italic;
    display: block; 
}

.field_with_errors {
    display: inline;

}
